// Colors

$color-primary: #f26002 ; /*naranja*/
$color-secundary: #0271bc ; /*blue*/
$color-bg-light: #eff9ff ; /*lightblue*/
$color-bg-dark: #304268; /*darkblue*/
$color-text-light:   #fff;


$gray         :   #2c3e50;
$darkgray     :   #95a5a6;
$dark         :   #2c3e50;
$notice       :   #3498db;
$success      :   #1abc9c;
$alert        :   #e74c3c;
$border-color :   #ecf0f1;
$border-color--dark: #bdc3c7;

/* TYPOGRAPHY WEIGHT */

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$font-size-su:          42px;
$font-size-xxl:         28px;
$font-size-xl:          21px;
$font-size-l:           17px;
$font-size-m-plus:      15px;
$font-size-m:           14px;
$font-size-s-plus:      13px;
$font-size-s:           12px;
$font-size-xs:          11px;
$font-size-mi:          10px;

$font-family-primary: 'RobotoSlab';
$font-family-secundary: 'Roboto';
