// Colors

$color-primary: #f26002;
$color-secundary: #0271bc;
$color-bg-lighter:#fff;
$color-bg-light: #eff9ff;
$color-bg-dark: #304268;
$color-text-light: #fff;
$gray         :   #4a4a4a;

$darkgray     :   #95a5a6;
$dark         :   #2c3e50;
$notice       :   #3498db;
$success      :   #1abc9c;
$alert        :   #e74c3c;
$border-color :   #ecf0f1;
$border-color--dark: #bdc3c7;
