
.footer {
  background-color: $color-bg-dark;
  height: 128px;
  color: $color-text-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-family-secundary;
  font-size: $font-size-m;
  position: relative;
}

.circulo-footer {
  display: flex;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: white;
  z-index: 4;
  margin: 0;
  position: absolute;
  top: -25px;
}

.copiright {
  margin: 38px auto 0 auto;
}

.love-components {
  margin-bottom: 30px;
}
