
.footer {
  @include flex-align;

  flex-direction: column;
  background-color: $color-bg-dark;
  height: 128px;
  color: $color-text-light;
  font-family: $font-family-secundary;
  font-size: $font-size-m;
  position: relative;
}

.circulo-footer {
  display: flex;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: white;
  z-index: 4;
  margin: 0;
  position: absolute;
  top: -25px;
  transform-style: preserve-3d;

}

@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,30%,0) scale3d(1,1,1);}
  100% {transform: translate3d(0,70%,0) scale3d(1,1,1);}
}
.jump:hover{
  transform-origin: 50% 20%;
  animation: jump .5s linear alternate infinite;
}

.copiright {
  margin: 38px auto 0 auto;
}

.love-components {
  margin-bottom: 30px;
}

.primary {
color: $color-primary;
}
