
.grid {
  display: flex;
  flex-direction: column;

  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.a {
  @media all and (min-width: 768px) {
    @include flex-align;

    margin: 30 auto 45 auto;
    grid-column-start: span 3;
  }
}

.e {
  @media all and (min-width: 768px) {
    grid-column-start: span 3;
  }
}
