.header {
  height: 100vh;
  display: flex;
  text-align: center;
}

.header-bg {
  width: 100vw;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.btn {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 44px;
  height: 44px;
  background-color: $color-secundary;
  border: none;
}

.encabezado-principal {
  @include flex-align;
  @include normalize;

  text-transform: uppercase;
  font-size: 42px;
  font-family: $font-family-primary;
  font-weight: $bold;
  line-height: 55px;
  color: $color-text-light;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  margin: 0 auto 10px auto;

  @media all and (min-width: 768px) {
    font-size: $font-size-super;
    margin: 0 auto 20px auto;
    line-height: 106px;
    width: 690px;
  }

  @media all and (min-width: 1280px) {
    width: 730px;
    font-size: $font-size-super-xl;
    margin: 0 auto 0 auto;
    line-height: 132px;
  }
}

.parrafo-hero {
  @include normalize;

  color: $color-text-light;
  text-align: center;
  margin: 0 15px;
  font-family: $font-family-secundary;
  font-size: $font-size-m-plus;

  @media all and (min-width: 768px) {
    font-size: $font-size-xxl;
  }

  @media all and (min-width: 1280px) {
    margin-bottom: 30px;
  }
}

.circulo {
  @include flex-align;

  margin: 45px auto 53px auto;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: $color-bg-lighter;

  @media all and (min-width: 768px) {
    margin-top: 30px;
  }
}

.enlace-ancla {
  padding: 12px;
  z-index: 4;
}
