
.section2 {
  display: flex;
}

.grid {
  display: flex;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  background-color: $color-bg-light;
}

.a {
  font-weight: $bold;
  font-family: $font-family-primary;
  font-size: $font-size-xxl;
  margin: 30px 15px 45px 15px;
}

.b,
.c,
.d {
  display: flex;
  flex-direction: column;
}

.titulo-purchase {
  margin: 0 auto;
  font-size: $font-size-l;
  font-family: $font-family-primary;
  font-weight: bold;
  width: 184px;

  @media all and (min-width: 768px) {
    font-size: $font-size-l;
  }
}

.texto-purchase {
  font-size: $font-size-l;
  font-family: $font-family-secundary;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 45px;

  @media all and (min-width: 768px) {
    font-size: $font-size-l;
  }
}

.boton-reasons {
  @include flex-align;

  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-primary;
  font-size: $font-size-xl;
  color: $color-text-light;
  font-family: $font-family-secundary;
  margin: 0 auto;
  margin-bottom: 60px;
  transition: background-color ease 0.3s;

  &:hover {
    background-color: #f7bf18;
  ;
  }

  @media all and (min-width: 768px) {
    margin-top: 15px;
  }
}
