.fecha  {
  background-color: $color-primary;
  color:$color-text-light;
  padding: 0 10px;
  display: flex;
}
.h2 {

}

.p {
  justify-content: flex-end;
}

.section1 {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.insomnia {
  @include normalize;
  height: 30px;
  color: #8ccbea;
  font-size: $font-size-m;
  font-family: $font-family-secundary;
  margin-top: 30px;
  font-weight: normal;
  line-height: 2.14;

  @media all and (min-width: 768px) {
    margin-left: 39px;
    width: 216px;
  }

  @media all and (min-width: 1280px) {
    font-size: $font-size-m-plus;
  }
}

.contenedor-sec1 {
  display: flex;
  flex-direction: column;

  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 730px;
  }
}

.encabezado {
  display: flex;
  height: 60px;
  width: 290px;
  font-weight: $bold;
  font-family: $font-family-primary;
  font-size: $font-size-xxl;
  margin: 1px 0 15px 0;

  @media all and (min-width: 768px) {
    margin-left: 39px;
    width: 690px;
    height: 45px;
  }

  @media all and (min-width: 768px) {
    font-size: $font-size-xxl-plus;
  }
}

.article {
  height: 120px;
  color: $gray;
  font-family: $font-family-secundary;

  @media all and (min-width: 768px) {
    margin-left: 39px;
    width: 690px;
    height: 60px;
    line-height: 30px;
  }

  @media all and (min-width: 1280px) {
    font-size: $font-size-xl;
  }
}

.boton-go {
  @include flex-align;

  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px $color-primary;
  color: $color-primary;
  font-size: $font-size-xl;
  font-family: $font-family-secundary;
  background-color: $color-bg-lighter;
  margin: 30px 229px 45px 15px;

  transition: background-color ease 0.3s;
  transition: width ease 0.3;

  &:hover {
    background-color: #f7bf18;
    border: none;
  }

  @media all and (min-width: 768px) {
    width: 91px;
    margin-left: 39px;
    margin-bottom: 60px;
  }

  @media all and (min-width: 768px) {
    width: 160px;
  }
}

a.no-link-decoration {
  text-decoration: none;
  color: $color-primary;
}
