
/* TYPOGRAPHY WEIGHT */

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$font-size-super-xl:    100px;
$font-size-super:       80px;
$font-size-su:          42px;
$font-size-xxl-plus:    32px;
$font-size-xxl:         24px;
$font-size-xl-plus:     22px;
$font-size-xl:          20px;
$font-size-l:           18px;
$font-size-m-plus:      16px;
$font-size-m:           14px;

$font-family-primary: 'Roboto Slab', serif;
$font-family-secundary: 'Roboto', sans-serif;

.txt-md {
  font-size: 16px;

  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 1.68;
  }
}

.txt-lg {
  font-size: 20px;
  line-height: 1.6;

  @media (min-width: 1024px) {
    font-size: 26px;
    line-height: 1.4;
  }
}

.txt-xl {
  font-size: 20px;
  line-height: 1.2;

  @media (min-width: 1024px) {
    font-size: 54px;
    font-weight: $light;
  }
}

.txt-center { text-align: center; }
.txt-left { text-align: left; }
.txt-right { text-align: right; }

.txt-primary { color: $color-primary; }
.txt-light { color: $color-bg-light; }

.italic { font-style: italic; }
.light { font-weight: $light; }
.normal { font-weight: $normal; }
.medium { font-weight: $semibold; }

.uppercase { text-transform: uppercase; }
