html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}/* TYPOGRAPHY WEIGHT */.txt-md {
  font-size: 16px;
}

.txt-lg {
  font-size: 20px;
  line-height: 1.6;
}

.txt-xl {
  font-size: 20px;
  line-height: 1.2;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-primary {
  color: #f26002;
}

.txt-light {
  color: #eff9ff;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
}

.header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.header-bg {
  width: 100vw;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  border: none;
}

.encabezado-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  font-size: 42px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  line-height: 55px;
  color: #fff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  margin: 240px auto 10px auto;
}

.parrafo-hero {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #fff;
  text-align: center;
  margin: 0 15px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.circulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 45px auto 53px auto;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #fff;
}

.enlace-ancla {
  padding: 12px;
  z-index: 4;
}

.section1 {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.insomnia {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  height: 30px;
  color: #8ccbea;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
  font-weight: normal;
  line-height: 2.14;
}

.contenedor-sec1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 290px;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  margin: 1px 0 15px 0;
}

.article {
  height: 120px;
  color: #4a4a4a;
  font-family: "Roboto", sans-serif;
}

.boton-go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px #f26002;
  color: #f26002;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  margin: 30px 229px 45px 15px;
  -webkit-transition: background-color ease 0.3s;
  transition: background-color ease 0.3s;
  -webkit-transition: width ease 0.3;
  transition: width ease 0.3;
}

.boton-go:hover {
  background-color: #f7bf18;
}

a.no-link-decoration {
  text-decoration: none;
  color: #f26002;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  background-color: #eff9ff;
}

.a {
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  margin: 30px 15px 45px 15px;
}

.b,.c,.d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.titulo-purchase {
  margin: 0 auto;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  width: 184px;
}

.texto-purchase {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.boton-reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  font-size: 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  margin-bottom: 60px;
  -webkit-transition: background-color ease 0.3s;
  transition: background-color ease 0.3s;
}

.boton-reasons:hover {
  background-color: #f7bf18;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #304268;
  height: 128px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  position: relative;
}

.circulo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: white;
  z-index: 4;
  margin: 0;
  position: absolute;
  top: -25px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.jump:hover {
  -webkit-transform-origin: 50% 20%;
  transform-origin: 50% 20%;
  -webkit-animation: jump .5s linear alternate infinite;
  animation: jump .5s linear alternate infinite;
}

.copiright {
  margin: 38px auto 0 auto;
}

.love-components {
  margin-bottom: 30px;
}

.primary {
  color: #f26002;
}/* preguntar donde van las variables de tipografia *//* hacer bien la paleta de colores *//* hacer mediaqueris del footer *//* Hacer medias de 1200 para grid */@media all and (min-width: 768px) {
  .encabezado-principal {
    font-size: 80px;
    margin: 384px auto 20px auto;
    line-height: 106px;
    width: 690px;
  }

  .parrafo-hero {
    font-size: 24px;
  }

  .circulo {
    margin-top: 30px;
  }

  .insomnia {
    margin-left: 39px;
    width: 216px;
  }

  .contenedor-sec1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: center;
    align-self: center;
    width: 730px;
  }

  .encabezado {
    margin-left: 39px;
    width: 690px;
    height: 45px;
  }

  .encabezado {
    font-size: 32px;
  }

  .article {
    margin-left: 39px;
    width: 690px;
    height: 60px;
    line-height: 30px;
  }

  .boton-go {
    width: 91px;
    margin-left: 39px;
    margin-bottom: 60px;
  }

  .boton-go {
    width: 160px;
  }

  .boton-reasons {
    margin-top: 15px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30 auto 45 auto;
    grid-column-start: span 3;
  }

  .e {
    grid-column-start: span 3;
  }
}

@media (min-width: 1024px) {
  .txt-md {
    font-size: 18px;
    line-height: 1.68;
  }

  .txt-lg {
    font-size: 26px;
    line-height: 1.4;
  }

  .txt-xl {
    font-size: 54px;
    font-weight: 300;
  }
}

@media all and (min-width: 1280px) {
  .encabezado-principal {
    width: 730px;
    font-size: 100px;
    margin: 384px auto 0 auto;
    line-height: 132px;
  }

  .parrafo-hero {
    margin-bottom: 30px;
  }

  .insomnia {
    font-size: 16px;
  }

  .article {
    font-size: 20px;
  }
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }

  40% {
    -webkit-transform: translate3d(0, 30%, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 30%, 0) scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: translate3d(0, 70%, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 70%, 0) scale3d(1, 1, 1);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }

  40% {
    -webkit-transform: translate3d(0, 30%, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 30%, 0) scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: translate3d(0, 70%, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 70%, 0) scale3d(1, 1, 1);
  }
}

/*# sourceMappingURL=main.css.map */
